@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
}

img {
  width: 350px;
  border-radius: 10px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: max-content;
  padding: 1.3rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  max-width: 320px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: hsl(220, 15%, 55%);
  max-width: 320px;
  margin-bottom: 2rem;
}
